<div class="h-screen overflow-hidden bg-slate-50">

  <!-- =============================================== -->
  <!-- FIXED HEADER -->
  <!-- =============================================== -->

  <app-header
    role="Admin"
    (menuToggle)="toggleSidebar()">
  </app-header>


  <!-- =============================================== -->
  <!-- MAIN APPLICATION AREA -->
  <!-- Header height = 4rem / 64px -->
  <!-- =============================================== -->

  <div
    class="mt-16 flex h-[calc(100vh-4rem)] overflow-hidden"
  >


    <!-- ============================================= -->
    <!-- FIXED SIDEBAR -->
    <!-- ============================================= -->

    <app-admin-sidebar
      *ngIf="sidebarOpen"
      class="block h-full shrink-0"
    >
    </app-admin-sidebar>


    <!-- ============================================= -->
    <!-- ONLY THIS CONTENT WILL SCROLL -->
    <!-- ============================================= -->

    <main
      class="min-w-0 flex-1 overflow-y-auto overflow-x-hidden p-4 md:p-6"
    >

      <router-outlet></router-outlet>

    </main>


  </div>

</div>