<div class="min-h-screen bg-slate-50">

  <!-- ================================================= -->
  <!-- HEADER -->
  <!-- ================================================= -->

  <app-header
    role="Admin"
    (menuToggle)="toggleSidebar()">
  </app-header>


  <!-- ================================================= -->
  <!-- BODY -->
  <!-- ================================================= -->

  <div class="flex">

    <!-- ================================================= -->
    <!-- SIDEBAR -->
    <!-- ================================================= -->

    <app-admin-sidebar
      *ngIf="sidebarOpen">
    </app-admin-sidebar>


    <!-- ================================================= -->
    <!-- MAIN CONTENT -->
    <!-- ================================================= -->

    <main
      class="min-h-[calc(100vh-4rem)] flex-1 overflow-auto p-4 transition-all duration-300 md:p-6">

      <router-outlet></router-outlet>

    </main>

  </div>

</div>