<div class="h-screen overflow-hidden bg-slate-50">

  <!-- HEADER -->

  <app-header
    role="Employee"
    (menuToggle)="toggleSidebar()">
  </app-header>


  <!-- BODY -->

  <div
    class="mt-16 flex h-[calc(100vh-4rem)] overflow-hidden"
  >


    <!-- SIDEBAR -->

    <app-employee-sidebar
      *ngIf="sidebarOpen"
      class="block h-full shrink-0"
    >
    </app-employee-sidebar>


    <!-- SCROLLABLE CONTENT -->

    <main
      class="min-w-0 flex-1 overflow-y-auto overflow-x-hidden p-4 md:p-6"
    >

      <router-outlet></router-outlet>

    </main>


  </div>

</div>